<%- include('../resources/includes/head') %>

    <body>
        <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
            <%- include('../resources/includes/header') %>
                <%- include('../resources/includes/sidebar') %>

                    <div id="content" class="content">
                        <ol class="breadcrumb float-xl-right">
                            <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <h1 class="page-header">Dashboard <small>resumen general del sistema</small></h1>

                        <!-- Estadísticas principales -->
                        <!-- Estadísticas principales -->
                        <div class="row">
                            <!-- Clientes Online (Teal/Cyan) -->
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-teal">
                                    <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                                    <div class="stats-info">
                                        <h4>CLIENTES ONLINE</h4>
                                        <p>
                                            <%= stats.activeClients || '0' %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="/customers">Ver detalle <i
                                                class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Transacciones (Blue) -->
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-blue">
                                    <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
                                    <div class="stats-info">
                                        <h4>TRANSACCIONES</h4>
                                        <p>0</p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="javascript:;">Ver detalle <i
                                                class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Facturas no pagadas (Purple) -->
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-purple">
                                    <div class="stats-icon"><i class="fa fa-file-alt"></i></div>
                                    <div class="stats-info">
                                        <h4>FACTURAS NO PAGADAS</h4>
                                        <p>
                                            <%= stats.pendingBills || '0' %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="/bills">Ver detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Tickets de Soporte (Black/Dark) -->
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-black">
                                    <div class="stats-icon"><i class="fa fa-comments"></i></div>
                                    <div class="stats-info">
                                        <h4>TICKETS DE SOPORTE</h4>
                                        <p>
                                            <%= stats.openTickets || '0' %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="/tickets">Ver detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Segunda fila de estadísticas -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-teal">
                                    <div class="stats-icon"><i class="fa fa-check"></i></div>
                                    <div class="stats-info">
                                        <h4>FACTURAS PAGADAS</h4>
                                        <p>
                                            <%= stats.paidBills %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="/bills">Ver detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="widget widget-stats bg-orange">
                                    <div class="stats-icon"><i class="fa fa-ticket-alt"></i></div>
                                    <div class="stats-info">
                                        <h4>TICKETS ABIERTOS</h4>
                                        <p>
                                            <%= stats.openTickets %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="/tickets">Ver detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <div class="widget widget-stats bg-gradient-green">
                                    <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
                                    <div class="stats-info">
                                        <h4>INGRESOS DEL MES</h4>
                                        <p>S/ <%= parseFloat(stats.totalIncome).toFixed(2) %>
                                        </p>
                                    </div>
                                    <div class="stats-link">
                                        <a href="javascript:;">Ver pagos <i
                                                class="fa fa-arrow-alt-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tablas de datos recientes -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Últimos Pagos</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Cliente</th>
                                                        <th>Monto</th>
                                                        <th>Fecha</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (recentPayments && recentPayments.length> 0) { %>
                                                        <% recentPayments.forEach(function(payment) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= payment.names %>
                                                                        <%= payment.surnames %>
                                                                </td>
                                                                <td>S/ <%= parseFloat(payment.amount).toFixed(2) %>
                                                                </td>
                                                                <td>
                                                                    <%= payment.payment_date %>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="3" class="text-center">No hay pagos
                                                                            recientes</td>
                                                                    </tr>
                                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Últimos Tickets</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th>Cliente</th>
                                                        <th>Asunto</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (recentTickets && recentTickets.length> 0) { %>
                                                        <% recentTickets.forEach(function(ticket) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= ticket.names %>
                                                                        <%= ticket.surnames %>
                                                                </td>
                                                                <td>
                                                                    <%= ticket.subject || 'Sin asunto' %>
                                                                </td>
                                                                <td>
                                                                    <% if (ticket.state==1) { %>
                                                                        <span class="badge badge-warning">Abierto</span>
                                                                        <% } else if (ticket.state==2) { %>
                                                                            <span class="badge badge-info">En
                                                                                proceso</span>
                                                                            <% } else { %>
                                                                                <span
                                                                                    class="badge badge-success">Cerrado</span>
                                                                                <% } %>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td colspan="3" class="text-center">No hay
                                                                            tickets recientes</td>
                                                                    </tr>
                                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <%- include('../resources/includes/footer') %>